---
layout: default
---

<div class="home">
  <h1>
    {{ site.title }}
  </h1>
  
  <p>
    {% include_relative about.md %}
  </p>

  <div>
    <h1 class="page-heading">Content</h1>
  
    <ul class="post-list">
    {% assign subcat = "" %}
    {% for category in site.categories %}

      {% if category[0] == "content" %} 
        {% for post in category[1] %}
          {% if post.categories.size == 1 %}
          <li class="cat-element">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
          {% endif %}
        {% endfor %}

      {% else %}
      <li class="cat-element">
        {% if category[1].size == 1 %}
          <a class="post-link" href="{{ category[1][0].url | prepend: site.baseurl }}">{{ category | first }}</a>
        {% else %}
        <a class="post-link cat-header" href="#">{{ category | first }}</a>

        <ul>
        {% for post in category[1] %}
          <!-- planed code for mirroring folder structur -->
          <li class="cat-element">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
        {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endif %}
    {% endfor %}  
    </ul>
  </div>

  <!-- {% if post.categories.size > 2 %} 

    hvis den har subcategorier...
    {% assign cats = post.categories | shift %}
    {{ cats | first }}
    {% for subc in cats %} 
      <ul>
        <a class="post-link cat-header" href="#">{{ subc }}</a>
    {% endfor %}
  {% else %} -->
  <!-- {% endif %} -->
</div>