<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-logo">
      {% include icon-ntnu.html %}
    </div>
   
 
   
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Emneansvarlig <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li>Studass <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>
   
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.gitlab_username %}
          <li>
            {% include icon-gitlab.html username=site.gitlab_username %}
          </li>
          {% endif %}
         
          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
